<%= form_for(@entry_card) do |f| %>
  <% if @entry_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry_card.errors.count, "error") %> prohibited this entry_card from being saved:</h2>

      <ul>
      <% @entry_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :finish_flag %><br>
    <%= f.check_box :finish_flag %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :rally_id %><br>
    <%= f.number_field :rally_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
