<%= render 'layouts/header' %>
<div data-role="collapsibleset" data-theme="a" data-content-theme="a">
<% @entry_cards.each do |entry_card| %>
  <div data-role="collapsible">
    <h3><%= entry_card.rally.title %><h3>
    <p><%= entry_card.rally.detail %></p>
    <p><%= entry_card.rally.opening %></p>
    <p><%= entry_card.rally.ending %></p>
    <%= link_to 'プレイ', controller: 'play', action: 'index', rally_id: entry_card.rally.id %>
  </div>
<% end %>
<%= render 'layouts/footer' %>
