<%= render 'layouts/header'%>
<%= render 'map' %>
<ul data-role="listview" data-inset="true">
<% @user_card.checkpoints.each do |checkpoint| %>
	<% unless checkpoint.stamp.nil?  %>
		<li data-icon="check">
			<!-- チェック済み -->
			<a href="">
				<%= checkpoint.name %>
			</a>
		</li>
	<% else %>
		<li>
			<!-- まだ -->
			<a href="">
				<%= checkpoint.name %>
			</a>
		</li>
	<% end %>
<% end %>
</ul>
<%= render 'form' %>
<%= render 'layouts/footer' %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' %>
<%= javascript_include_tag 'play/common.js' %>
