<%= render 'layouts/header'%>
<ul data-role="listview" data-inset="true">
<% @checkpoints.each do |checkpoint| %>
  <li><%= checkpoint.name %><br></li>
<% end %>
</ul>
<%= render 'form' %>
<%= render 'layouts/footer' %>

<%= debug @data %>
