<%= form_for(@stamp) do |f| %>
  <% if @stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stamp.errors.count, "error") %> prohibited this stamp from being saved:</h2>

      <ul>
      <% @stamp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.file_field :pic %>
  </div>
  <div class="field">
    <%= f.label :file_type %><br>
    <%= f.text_field :file_type %>
  </div>
  <div class="field">
    <%= f.label :file_size %><br>
    <%= f.number_field :file_size %>
  </div>
  <div class="field">
    <%= f.label :file_width %><br>
    <%= f.number_field :file_width %>
  </div>
  <div class="field">
    <%= f.label :file_height %><br>
    <%= f.number_field :file_height %>
  </div>
  <div class="field">
    <%= f.label :checkpoint_id %><br>
    <%= f.number_field :checkpoint_id %>
  </div>
  <div class="field">
    <%= f.label :entry_card_id %><br>
    <%= f.number_field :entry_card_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
