<%= form_for(@rally) do |f| %>
  <% if @rally.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rally.errors.count, "error") %> prohibited this rally from being saved:</h2>

      <ul>
      <% @rally.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%= f.label :opening %><br>
    <%= f.datetime_select :opening %>
  </div>
  <div class="field">
    <%= f.label :ending %><br>
    <%= f.datetime_select :ending %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
